[Unit]
Description=A Custom Sliver client that will send webhook notifications upon getting a new beacon or session

[Service]
Type=simple
User=root
StandardOutput=syslog
StandardError=syslog
WorkingDirectory=/opt/sally-the-sliver-siren
ExecStart=python3 sally.py -c /opt/sally-the-sliver-siren/config.yml

[Install]
WantedBy=multi-user.target